@font-face {
    font-family:'Quantum';
    src: url('/fonts/Quantum.ttf');
}

body{
    background: #eee;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6{
    font-weight: bold;
    font-family: 'Open Sans Condensed', sans-serif;
}

p{
    margin:0;
    padding:0;
}

a{
    font-weight: bold;
}

a:hover{

}

a:hover,a:active,a:focus {
    outline: 0;
}

hr{
    margin: 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #dbd8d8;
}
/* Basic CSS ends */

.outer{
    width:auto;
    height: 100%;
    background: #333
}

.main .container{
    max-width:100%;
}

.navigation{
    display: none;
    margin: 5px 0 0 5px;
    width: 60px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: rgba(0, 0, 0, .5);
    border-radius: 5px;
    cursor:pointer;
    position: absolute;
    z-index: 60000;
}

/*  sidebar CSS */

.sidebar{
    background: #333;
    width: 240px;
    position: fixed;
    z-index: 4000;
    height: 100vh;
    left: 0;
    top: 0;
}

#sidebar-menu .login {
    color: #fff;
    text-align: center;
}

/* sidebar logo CSS */


.sidebar .logo img{
    margin: 5%;
    margin-bottom: 5px;
    width:90%;
}
.sidebar button{
    color:#ffffff;
}
/* sidebar search input and button CSS */

.sidebar .sidebar-search{
    margin: 20px 15px;
    border: 1px dashed #333;
    background: #000000;
}

.sidebar .sidebar-search > form > .input-group > input{
    background: #222;
    font-size: 12px;
    border: 0;
    border-radius: 0;
    box-shadow: none !important;
    color: #999;
}

.sidebar .sidebar-search > form > .input-group > input:focus{
    box-shadow: none;
}

.sidebar .sidebar-search > form > .input-group > input::-webkit-input-placeholder {
    color:#888;
    border: 0;
    font-family: 'Quantum';
    font-size:18px;

}

.sidebar .sidebar-search > form > .input-group > input::-moz-placeholder {
    color:#888;
    border: 0;
}

.sidebar .sidebar-search > form > .input-group > input::-ms-input-placeholder {
    color:#888;
    border: 0;
}

.sidebar .sidebar-search > form > .input-group > .input-group-btn > button{
    background: #222;
    border: 0;
    border-radius: 0;
    padding-top: 7px;
    padding-bottom: 7px;
}

.sidebar .sidebar-search > form > .input-group > .input-group-btn > button i:hover{
    color: #999;
}

/* Main */

.sidebar .list {
    margin-top: 20px;
    border-top: 1px solid #222;
    border-bottom: 1px solid #090909;
}

.main{
    width: auto;
    margin-left: 240px;
    position: relative;
    z-index: 0;
    background: #f5f5f5;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: calc(100vh - 60px);
    padding-bottom: 60px;
}

.home .service:first-of-type {
    margin: 0px 0px 35px;
}
.service{
    margin: 0 0 35px;
    text-align: center;
}
h3.strikearound {
    position: relative;
    font-size: 50px;
    z-index: 1;
    overflow: hidden;
    text-align: center;
    font-family: 'Quantum', sans-serif;
    color:#000000;
    text-shadow: 1px 1px 5px #999;
}
h3.strikearound:before {
    position: absolute;
    top: 60%;
    overflow: hidden;
    width: 50%;
    height: 2px;
    content: '\a0';
    background-color: #ba1b12;
    margin-left: -51%;
    text-align: right;
}
h3.strikearound:after{
    position: absolute;
    top: 60%;
    overflow: hidden;
    width: 50%;
    height: 2px;
    content: '\a0';
    background-color: #ba1b12;
    margin-left: 1%;
}

.service .service-item {
    margin: 80px auto;
    margin-bottom: 20px;
    width: 100%;
    max-width: 270px;
    opacity:0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-animation-delay: 0.2s;
    -o-animation-delay: 0.2s;
    -moz-animation-delay: 0.2s;
    -ms-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.service .service-item.animation{
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.service .service-item  i{
    display: inline-block;
    width: 150px;
    height: 150px;
    line-height: 150px;
    font-size: 50px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 3px;
    box-shadow: 0 0 3px #9E8B8B;
}

.service .service-item  h4{
    padding: 5px 0 7px 0;
    font-size: 18px;
    display: inline-block;
    border-bottom: 1px dashed #ccc;
}

.service .service-item  h4 a{
    color: #666;
}

.service .service-item  h4 a:hover{
    text-decoration: none;
}

.service .service-item  p{
    font-size: 14px;
    line-height: 22px;
    font-style: italic;
    color: #8a7777;
}

.service .service-item a{
    margin-top: 10px;
}

#settings > a {
    z-index: 1;
    box-shadow: 0px 10px 15px 5px #333;
}

.menu {
    border-radius: 8px;
    font-family: 'Quantum';
}

.menu .item {
    font-size: 0px;
    margin-bottom: 20px;
}

.menu .smenu {
    font-size: 14px;
    max-height: 0;
    height: calc(100vh - 425px);
    overflow-y: auto;

}

.menu .smenu::-webkit-scrollbar {
    width: 6px;
    background-color: #333;
}

.menu .smenu::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #ba1b12;

}

.item {
    overflow: hidden;
}

.btn {
    display: block;
    background: #ba1b12;
    color: white;
    position: relative;
    font-size:18px;
    border-radius: 0px;
}

.btn::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    background: #ba1b12;
    left: 20px;
    bottom: -7px;
    transform: rotate(45deg);
}

.smenu {
    background: #333;
    overflow: hidden;
    transition: max-height 0.3s;
    max-height: none;
    font-family: sans-serif;
}

.smenu a {
    display: block;
    padding: 16px 26px;
    color: white;
    margin: 4px 0;
    position: relative;

}

.smenu a::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 100%;
    background: #ba1b12;
    left: 0;
    top: 0;
    transition: .3s;
    opacity: 0;
}

.smenu a.active::before,
.smenu a:hover::before {
    opacity: 1;
}

.item.toggled .smenu,
.item:target .smenu {
    max-height: calc(100vh - 425px);
}
.card
{
    max-width: 600px;
    width: 100%;
    background: #FFFFFF;
    padding: 70px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    border-radius: 4px;
}

.auth-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 790px;
}

.zaloguj {
    font-family: 'Quantum';
    width: 100%;
    padding:  0px;
    position: absolute;
    bottom: 20px;
    left: 0px;
    overflow: hidden;
}

.auth-button:hover {
    background: #ff6e40;
}

.auth-button {
    border: none;
    font-family: 'Quantum';
    border-radius: 4px;
    display: block;
    background: #ba1b12;
    color: white;
    width: 100%;
    padding: 5px 0px 10px;
    font-size: 20px;
}
.forgot {
    position: fixed;
    display: block;
    margin-top: 10px;
}

footer {
    position: fixed;
    left: 240px;
    bottom:0px;
    width: calc(100% - 240px);
    text-align: center;
    background-color: #eeeeee;
    border-top: 1px solid #ccc;
}

footer p {
    padding: 20px 0;
}

#ll
{
    display: block;
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
    opacity:0;
    -webkit-animation:fadeIn ease-in 1;
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;

    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration:1s;
}
input
{
    text-align: center;
}


.not-verified {
    -webkit-animation: slide-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
    animation: slide-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
    /*-webkit-animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;*/
    /*animation: slide-in-right 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;*/
    font-size: 14px;
    position: fixed;
    right: 0px;
    color: #fff;
    top: 0px;
    z-index: 5;
    background: #ba1b12;
    width: calc(100% - 240px);
    text-align: center;
    padding: 5px;

}

.zarejestruj {
    border: none;
    font-family: 'Quantum';
    border-radius: 4px;
    display: block;
    background: #ba1b12;
    color: white;
    width: 320px;
    padding: 5px 0px 10px;
    font-size: 20px;
}
.zarejestruj:hover {
    background: #ff6e40;
}
.card-body-reg
{
    margin-left: 70px;
}
.register{
    margin-left: 399px;
    position: fixed;
    display: block;
    margin-top: 10px;
}
.okladka{
    height: 200px;
    width: 150px;
    margin-top: -4px;
}

.animated {
    opacity: 0;
}

/*************** hamburger menu *****************/
:root {
    --animationSpeed: 0.25s;
}

.hamburger-menu {
    display: none;
    padding: 3px;
    width: 31px;
    position: absolute;
    right: -35px;
    top: 39px;
}

.bars-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
}

.bars-container,
.bar {
    cursor: pointer;
}

.bar {
    width: 100%;
    height: 4px;
    background-color: #222;
    border-radius: 5px;
    display: block;
}

.bar1 {
    transform-origin: center left;
    position: relative;
}

.bars-container2 {
    position: relative;
}

.bars-container2 .bar {
    position: absolute;
    transform-origin: center;
}

.bars-container2 .bar1 {
    top: 5%;
    animation: makeCross1Backward var(--animationSpeed) ease 0s 1 forwards, moveDownBackward var(--animationSpeed) ease var(--animationSpeed) 1 forwards;
}

.bars-container2 .bar2 {
    top: 50%;
    transition: opacity 0.4s ease;
}

.bars-container2 .bar3 {
    top: 95%;
    animation: makeCross2Backward var(--animationSpeed) ease 0s 1 forwards, moveUpBackward var(--animationSpeed) ease var(--animationSpeed) 1 forwards;
}

.input-check2:checked + label .bar1 {
    animation: moveDown var(--animationSpeed) ease 0s 1 forwards, makeCross1 var(--animationSpeed) ease var(--animationSpeed) 1 forwards;
}

.input-check2:checked + label .bar2 {
    opacity: 0;
}

.input-check2:checked + label .bar3 {
    animation: moveUp var(--animationSpeed) ease 0s 1 forwards,
    makeCross2 var(--animationSpeed) ease var(--animationSpeed) 1 forwards;
}

.game-poster{
    width: 356px;
    height:474px;
    float: left;
    padding-right: 20px;
    padding-bottom: 10px;
}
.description{
    overflow:hidden;
    font-size: 18px;
    color:whitesmoke;
    padding:10px;
}
.description hr{
    border: 1px solid #ba1b12;
}
.description h3{
    color: #ba1b12;
}
.test{
    overflow:hidden;
    font-size: 18px;
    color:white;
    padding:10px;
}
.game-page{
    position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
    width: calc(100% - 257px);
    height:100%;
}
.item-page {
    background-color: rgba(34, 34, 34, 0.8);
    position: relative;
    padding: 15px;
    margin: 50px 20px 0;
}
.text{
    padding-top: 40px;
}
.wypozycz {
    font-family: 'Quantum';
    background-color: #ba1b12;
    border: 0;
    outline: 0;
    color: white;
    padding: 1.5rem 2rem;
    font-size: 18px;
    box-shadow: 0px 5px 10px #222;
    transition: all 0.3s;
    cursor: pointer;
    border-radius: 3px;
    border-bottom: 4px solid #84130d;

}
.wypozycz:hover {
    box-shadow: 0px 15px 25px -5px #000000;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}
.wypozycz:active {
    box-shadow: 0px 4px 8px #222;
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
}

.rating {
    border: none;
    float: left;
}

.rating > input { display: none; }
.rating > label:before {
    margin: 5px;
    font-size: 1.25em;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > .half:before {
    content: "\f089";
    position: absolute;
}

.rating > label {
    color: #ddd;
    float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

.pegi
{
    margin-top:-70px;
    float: right;
    width: 90px;
    margin-right: 80px;
}

.no-games {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: calc(100vh - 180px);
    align-items: center;
    font-family: 'Quantum', sans-serif;
    font-size: 48px;
}

.no-games span {
    font-size: 102px;
    font-weight: bold;
    margin-bottom: 25px;
}

/* RESPONSIVE */

@media only screen and (max-width: 991px) {
    .sidebar {
        transition: transform .3s ease;
        transform: translateX(-240px);
    }

    .game-page {
        width: calc(100% - 17px);
    }

    .sidebar.show {
        transform: translateX(0);
    }

    .hamburger-menu {
        display: inline-block;
    }

    .main {
        margin-left: 0px;
    }

    .not-verified {
        width: 100%;
    }

    footer {
        width: 100%;
        left: 0px;
    }
}

@media (max-width: 480px) {
    .carousel-caption {
        padding-bottom: 20px !important;
    }

    .carousel-caption img {
        display: none !important;
    }

    .no-games {
        font-size: 32px;
    }

    .no-games span {
        font-size: 72px;
    }
}


@keyframes moveDown {
    from {
        top: 5%;
        transform: translateY(0);
    }
    to {
        top: 50%;
        transform: translateY(-50%);
    }
}

@keyframes moveDownBackward {
    from {
        top: 50%;
        transform: translateY(-50%);
    }
    to {
        top: 5%;
        transform: translateY(0);
    }
}

@keyframes moveUp {
    from {
        top: 95%;
        transform: translateY(0);
    }
    to {
        top: 50%;
        transform: translateY(-50%);
    }
}

@keyframes moveUpBackward {
    from {
        top: 50%;
        transform: translateY(-50%);
    }
    to {
        top: 95%;
        transform: translateY(0);
    }
}

@keyframes makeCross1 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(40deg);
    }
}

@keyframes makeCross1Backward {
    from {
        top: 50%;
        transform: rotate(40deg) translateY(-50%);
    }
    to {
        top: 50%;
        transform: rotate(0deg) translateY(-50%);
    }
}

@keyframes makeCross2 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-40deg);
    }
}

@keyframes makeCross2Backward {
    from {
        top: 50%;
        transform: rotate(-40deg) translateY(-50%);
    }
    to {
        top: 50%;
        transform: rotate(0deg) translateY(-50%);
    }
}

@-webkit-keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
